.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.logo {
    padding-top: 90px;
    text-align: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    color: #333;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 48%;
    height: 2px; /* 구분선의 두께 */
    background-color: #ccc; /* 구분선 색상 */
    margin: 10px auto 0;
  }

.analysisContainer {
    display: grid;
    gap: 20px;
    padding: 0 500px 20px;
}

.leftPanel {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.leftPanel p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.rightPanel {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    height: 45px;
    margin-bottom: 20px;
    gap: 10px;
    position: relative; /* 밑줄을 위한 포지셔닝 */
}

.tabs::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    z-index: 0.5;
}

.tab {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #E02424;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    z-index: 0.5;
    border: 1px solid rgba(0, 0, 0, 0.1);  /* 윤곽선 투명도 0.1 */
}


.activeTab {
    opacity: 1;
}

.tab:not(.activeTab) {
    opacity: 0.7;
}
.tab:last-child {
    border-right: none;
}

.warningBox {
    background-color: #FFF3E0;
    border-left: 4px solid #FF9800;
    padding: 15px;
    margin-bottom: 20px;
}

.errorBox {
    background-color: #FFEBEE;
    border-left: 4px solid #F44336;
    padding: 15px;
}

.actionButtons {
    display: flex;
    gap: 40px;
    margin: 140px auto 0;
}

.downloadButton {
    background-color: #ED6466;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.downloadButton:hover {
    background-color: #E02424;
}

.chatbotButton {
    background-color: #ED6466;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chatbotButton:hover {
    background-color: #E02424;
}