@import url('https://cdn.jsdelivr.net/gh/henockk/pretendard-font/css/pretendard.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: white;
}
